* {
	border: 1px dashed blue;
}

div {
	height: 100px;
	width: 100px;
	border-radius: 5px;
	border: 2px solid black;
}

#inner {
	height: 75px;
	width: 75px;
	background-color: #547980;
	top: 50px;
	left: 30px;
	position: relative;
	/*Add your CSS here!*/
	
}

#outer {
	height: 150px;
	width: 150px;
	background-color: #45ADA8;
	position: absolute;
	left: 100px;
}
	
	
}
#one {
	background-color: #FF0000;
}

#two {
	background-color: #0000FF;
}

#three {
	background-color: #FFD700;
}

#four {
	background-color: #308014;
}